body {
  margin: min(1rem, 5svw);

    /* font sizing */
    --step--1: clamp(0.8rem, 0.7809rem + 0.0813vi, 0.844rem);
    --step-0: clamp(1rem, 0.9458rem + 0.2312vi, 1.125rem);
    --step-1: clamp(1.25rem, 1.1418rem + 0.4617vi, 1.4996rem);
    --step-2: clamp(1.5625rem, 1.3733rem + 0.8074vi, 1.999rem);
    --step-3: clamp(1.9531rem, 1.6447rem + 1.3161vi, 2.6647rem);
    --step-4: clamp(2.4414rem, 1.9599rem + 2.0543vi, 3.552rem);
    --step-5: clamp(3.0518rem, 2.3221rem + 3.1132vi, 4.7348rem);

    /* color swatches */
    --fontDark: rgb(45, 39, 39);
    --fontLight: rgb(122, 117, 117);
  --fontLighter: rgb(206, 196, 196);
  --fontLightest: rgb(250, 245, 245);

}
form {
  border: solid var(--fontDark) 1px;
  border-bottom: solid var(--fontDark) 2px;
  border-radius: min(8px, 10svw);
  max-width: fit-content;
  height: min(900px, 90svh);
  /* padding: min(1rem, 5svw); */
  > *:not(hr) {
    margin: min(1rem, 5svw);
  }
}

/* [data-submit]{
  border: solid var(--fontDark) 1px;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  margin: 5px auto 0 auto;
} */

button, [data-submit]{
  background: var(--fontLighter);
  color: var(--fontDark);
  font-size: var(--step-1);
  border-radius: min(5px, 2svw);
  border: solid var(--fontLight) 2px;
  border-bottom: solid var(--fontLight) 4px;
}
[data-submit]{
  font-size: var(--step-2);
  padding: var(--step-1);
  border-radius: min(10px, 4svw);
  
}

hr {
  height: 1px;
  color: var(--fontDark);
}

fieldset {
  font-weight: 600;
  color: var(--fontDark);
  /* text-align: center; */
  width: min(500px, 50svw);

  h4 {
    font-size: 130%;
  }
  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: var(--fontDark);
  }

  .hint {
    font-weight: 400;
    color: var(--fontLight);
  }
  /* &:nth-of-type(2){
    padding-top: min(2rem, 4svh);
  }
  &:first-of-type{
    padding-bottom: min(2rem, 4svh);

  } */

  /* label {
    border: solid var(--fontDark) 1px;
  } */

  input,
  textarea,
  select {
    border: double var(--fontDark) 1px;
    border-bottom: solid var(--fontDark) 2px;
    border-radius: min(8px, 10svw);
    margin-top: min(0.4rem, 3svh);
    width: fit-content;
  }

  > * {
    margin-top: min(1rem, 5svh);

    display: flex;
    flex-direction: column;
  }
  legend {
    margin: 0 auto 0 auto;
    font-size: 220%;
    font-family: "Workbench", sans-serif;
  }
}

/* grids */

#infoField {
  /* max-height: 800px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min(4rem, 10svh) 1fr;
  text-align: center;
  .formField {
    &:first-of-type {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &:nth-of-type(2) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &:nth-of-type(3) {
      grid-column: 2/3;
      grid-row: 1/3;
      textarea {
        /* min-height: stretch; */
        min-height: calc(100% - min(5rem, 8svh) / 2.4);
      }
    }
  }
}

#metaField {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  /* grid-template-rows: min(7rem, 12svh) 1fr 1fr; */
  /* gap: min(2rem, 5svh); */
  text-align: center;
  /* align-items: center; */
  min-height: fit-content;
  .formField {
    &:has([for="pollen"]) {
      grid-column: 1/3;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      .allergyOptions {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: min(0.6rem, 5svh);
      }
    }
    &:has([for="servings"]) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &:has([for="diet"]) {
      grid-column: 2/3;
      grid-row: 2/4;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* align-self: center; */
    }
    &:has([for="studentFriendly"]) {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: center;
    }
  }
}

@media (min-width: 600px){
  body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    height: 100svh;
    &>*{
      margin: 0 auto 0 auto;
    }
    .recipes{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      overflow-y: scroll;
    }
  }
}
/* display: flex;
      flex-direction: column;
      align-items: center; */
